nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #333;
    height: 30px;
    padding: 0 20px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-size: 1.2em;
  }
  
  a:hover {
    color: #f2f2f2;
  }
  